/*                KEY POSITIONS

  ╭─────────────────────╮ ╭─────────────────────╮
  │ LT4 LT3 LT2 LT1 LT0 │ │ RT0 RT1 RT2 RT3 RT4 │
  │ LM4 LM3 LM2 LM1 LM0 │ │ RM0 RM1 RM2 RM3 RM4 │
  │ LB4 LB3 LB2 LB1 LB0 │ │ RB0 RB1 RB2 RB3 RB4 │
  ╰───────╮ LH2 LH1 LH0 │ │ RH0 RH1 RH2 ╭───────╯
          ╰─────────────╯ ╰─────────────╯ */

// use require-prior-idle-ms for combos
#undef COMBO_HOOK
#define COMBO_HOOK require-prior-idle-ms = <150>;

#define COMBO_TERM_FAST 40

// make homerow combos tap-only (so HRMs can be chorded instantaneously)

/* Horizontal combos - left hand */
ZMK_COMBO(grave,   &kp GRAVE,       LT2 LT1, 0, COMBO_TERM_FAST)
ZMK_COMBO(tilde,   &kp TILDE,       LT1 LT0, 0, COMBO_TERM_FAST)
ZMK_COMBO(excl,   &kp EXCL,       LM4 LM3, 0, COMBO_TERM_FAST)
ZMK_COMBO(at,   &kp AT,       LM3 LM2, 0, COMBO_TERM_FAST)
ZMK_COMBO(hash,   &kp HASH,       LM2 LM1, 0, COMBO_TERM_FAST)
ZMK_COMBO(dollar,   &kp DOLLAR,       LM1 LM0, 0, COMBO_TERM_FAST)
ZMK_COMBO(percent,   &kp PRCNT,       LB0 LB1, 0, COMBO_TERM_FAST)
ZMK_COMBO(caret,   &kp CARET,       LB1 LB2, 0, COMBO_TERM_FAST)
ZMK_COMBO(ampersand,   &amp_morph,       LB2 LB3, 0, COMBO_TERM_FAST)
ZMK_COMBO(astersk,   &kp ASTRK,       LB3 LB4, 0, COMBO_TERM_FAST)
ZMK_COMBO(caps,   &kp CAPS,       LT4 LT3, 0, COMBO_TERM_FAST)

/* Horizontal combos - right hand */
ZMK_COMBO(brace,   &brace_morph,       RT1 RT2, 0, COMBO_TERM_FAST)
ZMK_COMBO(slash,   &slash_morph,       RT2 RT3, 0, COMBO_TERM_FAST)
ZMK_COMBO(lt,   &gt_morph,       RB0 RB1, 0, COMBO_TERM_FAST)
ZMK_COMBO(equal,   &equal_morph,       RM1 RM0, 0, COMBO_TERM_FAST)
ZMK_COMBO(par,   &par_morph,       RM1 RM2, 0, COMBO_TERM_FAST)
ZMK_COMBO(minus,   &minus_morph,       RM2 RM3, 0, COMBO_TERM_FAST)
ZMK_COMBO(under,   &kp UNDER,       RB2 RB3, 0, COMBO_TERM_FAST)
ZMK_COMBO(bracket,   &bracket_morph,       RB1 RB2, 0, COMBO_TERM_FAST)
